.simple-input {
  transition: all 500ms ease;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1px;
}

.simple-input-left-icon {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  @apply absolute;
}

.simple-input-right-icon {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  @apply absolute;
}
