.messages {
  @apply relative flex flex-1 flex-col gap-5 overflow-auto px-10 pt-1 pb-2;
}

.main {
  backdrop-filter: blur(10px);
  border-radius: 0px 5px 5px 0;
  @apply flex flex-col w-full h-full;
}

.inputContainer {
  flex-shrink: 0;
  min-height: 40px;
  @apply px-10 my-5;
}

@media (max-width: 850px) {
  .inputContainer {
    padding: 0px 8px 0 0;
  }

  .messages {
    @apply pr-2 pl-0;
  }

  .main {
    border-radius: 0;
    @apply pl-2;
  }
}
