.messages {
  margin-bottom: 25px;
  @apply relative flex flex-col gap-5 overflow-auto
    px-10 pt-1 pb-5;
}

@media (min-width: 851px) {
  .messages {
    @apply flex-1;
  }
}

.main {
  backdrop-filter: blur(10px);
  border-radius: 0px 5px 5px 0;
  @apply flex flex-col w-full h-full;
}

.inputContainer {
  max-height: 145px;
  max-width: calc(100vw - 36px);
  @apply px-0 fixed left-0 bottom-0 w-full;
}

@media (max-width: 850px) {
  .inputContainer {
    position: fixed;
    width: 100%;
    max-height: 145px;
    left: 0;
    bottom: 0;
    min-height: 55px;
    @apply px-0;
  }

  .messages {
    margin-top: 50px;
    @apply pr-2 pl-2;
  }

  .main {
    border-radius: 0;
    @apply px-0;
  }
}
