.button {
  top: 50%;
  transform: translate(0, -50%);
}

.input {
  outline: none;
  background: none;
}

.div {
  @apply relative w-full h-10 flex items-center justify-between p-3 rounded-sm;
}

.div:hover {
  box-shadow: 3px 2px 4px 0px black;
}

.input::placeholder {
  @apply text-placeholder-dark;
}
