.navbar {
  height: 70px;
  min-height: 70px;
  min-width: 100%;
  @apply flex px-10;
}

.closeButton {
  display: none;
}

@media (max-width: 850px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    @apply pl-2 pr-2;
  }

  .closeButton {
    display: inline;
  }
}
