.navbar {
  height: 50px;
  min-width: 100%;
  @apply flex;
}

.container {
  @apply flex gap-3 items-center w-full h-full justify-between px-10;
}

.closeButton {
  display: none;
}

@media (max-width: 850px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .closeButton {
    display: inline;
  }

  .container {
    @apply px-2
  }

}
