.sidebar {
  min-width: 360px;
  width: 360px;
  height: 100%;
  backdrop-filter: blur(10px);
  transition: transform 500ms ease;
  border-radius: 5px 0 0px 5px;
}



.userRow {
  height: 45px;
  @apply flex w-full justify-between items-center px-4 pb-4;
}

.actionButtonRow {
  height: 45px;
  @apply flex items-center justify-around w-full;
}

.closeButton {
  display: none;
}

@media (max-width: 850px) {
  .closeButton {
    display: initial;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}
