@tailwind base;
@tailwind components;
@tailwind utilities;

.margin {
  margin-top: 70px !important;
}

input[type="file"] {
  display: none;
}

.ReactVirtualized__List {
  height: 100% !important;
  width: 100% !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: 100% !important;
}

.main-backdrop-filter {
  backdrop-filter: blur(4px);
}

.main-transition-ease {
  transition: all 500ms ease;
}

.transform-rotate-y-180 {
  transform: rotateY(-180deg);
}

body {
  @apply flex items-center justify-center overflow-hidden;
}

#root {
  @apply h-screen w-full;
}

@media (max-width: 850px) {
  #root {
    @apply h-full;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif !important;
}
