.dialogContainer {
  backdrop-filter: blur(4px);
  @apply fixed top-0 left-0 flex items-center justify-center w-full h-screen z-40;
}

.dialog {
  backdrop-filter: blur(4px);
  max-height: 100vh;
  @apply absolute p-5 gap-3 flex flex-col rounded-sm;
}

@media (max-width: 850px) {
  .dialog {
    @apply w-full h-full;
  }
}

@media (max-width: 540px) {
  .dialog {
    @apply absolute p-5;
  }
}
