.signIn {
  width: 500px;
  backdrop-filter: blur(4px);
  @apply flex flex-col items-start justify-start p-10 rounded-sm gap-3;
}

.formWidth {
  width: calc(100%);
  min-width: calc(100%);
  @apply flex flex-col justify-start items-start gap-3;
}

@media (max-width: 550px) {
  .signIn {
    width: 100%;
  }

  .signIn h2 {
    @apply text-4xl;
  }

  .signIn {
    @apply p-5;
  }

  .formWidth {
    width: calc(100vw - 3rem);
    min-width: calc(100vw - 3rem);
  }
}

@media (max-width: 350px) {
  .signIn h2 {
    @apply text-2xl;
  }
}
