.signIn {
  width: 500px;
  backdrop-filter: blur(4px);
  @apply flex flex-col items-start justify-start p-10 rounded-sm gap-3;
}

.footer {
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  @apply absolute w-full text-center;
}

.formWidth {
  width: calc(100%);
  min-width: calc(100%);
  @apply flex flex-col justify-start items-start gap-3;
}

@media (max-width: 550px) {
  .signIn {
    width: 100%;
  }

  .signIn h2 {
    @apply text-4xl;
  }

  .signIn {
    @apply p-5;
  }

  .formWidth {
    width: calc(100vw - 3rem);
    min-width: calc(100vw - 3rem);
  }

  .linkSpan {
    display: none;
  }
}

@media (max-width: 350px) {
  .signIn h2 {
    @apply text-2xl;
  }
}
