.signIn {
  width: 500px;
  height: 420px;
  backdrop-filter: blur(4px);
  @apply flex flex-col items-start justify-start p-10 rounded-sm gap-3;
}

@media (max-width: 550px) {
  .signIn {
    width: 90%;
  }

  .signIn h2 {
    @apply text-4xl;
  }

  .signIn {
    @apply p-5;
  }
}

@media (max-width: 350px) {
  .signIn h2 {
    @apply text-2xl;
  }
}
